/*
Global
*/
html{
  background-color: #F1F1F1;
}

/*
Header
*/

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  min-height: 50px;
}

.header-left{
  float: left;
}

.header-left img{  
  margin-left: 10px;
  margin-top: 10px;
}

.search{
  float: right;
  margin-left: 20px;
}

.search img{
  margin-left: -5px;
  margin-top: 20px;
  margin-bottom: -10px;
}


.header-left input{
  width: 500px;
  height: 24px;
  margin-bottom: 10px;
}

.header-right{
  float:right;
  margin-right: 20px;
  margin-top: 10px;
}

.header-right span{
  text-decoration: none;
  border: 1px solid #D3D3D3;
  margin-right: 20px;
}

.header-right span a{
  text-decoration: none;
  width: 2em;
  height: 2em;
}

.upload a{
  background-color: #F8F8F8;
  color: black;
}

.upload a:hover{
  background-color: #F0F0F0;
  color: black;
}

.signin a{
  background-color: #167AC6;
  color: white;
}

.signin a:hover{
  background-color: #126DB3;
  color: white;
}

/*
Container
*/

.container{
  padding-top: 50px;
}

.inner-cont{
  margin: 15px 15px 15px 15px;
}

/*
Info
*/

/*
Desc
*/

.showmore a{
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #767676;
}

.showmore a:hover{
  color: black;
}

/*
Sidebar
*/

.sidebar{
  float: right;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 416px;
}

.preview{
  margin: 15px 15px 15px 15px;
  min-height: 70px
}

.preview a{
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  min-height: 70px;
}

.preview a:hover .preview-title p{
  color: blue;
}

.preview-title p{
  margin-bottom: 0;
  color: black;
}

.preview img{
  float:left;
  margin-right: 10px;
}

.preview-info{
  color: gray;
  font-size: 0.8em;
}

.preview-info p{
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 854px;
}

.desc{
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 854px;
}

/*
Comments
*/

.comments{
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 854px;
}

/*
Footer
*/

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
}

footer hr{
  width: 95%;
}

footer img{
  float: left;
}

footer ul{
  list-style-type: none;
}

footer ul li{
  display: inline;
}

footer .footer-options li img, .footer-options a img{
  margin-right: 15px;
  margin-bottom: 10px;
}

.footer-links{
  margin-bottom: 2px;
}

footer .footer-links li a{
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

footer .footer-links li a:hover{
  color: blue;
  text-decoration: underline;
}

.footer-info{
  margin-top: 2px;
}

footer .footer-info li a{
  color: gray;
  text-decoration: none;
  font-size: 12px;
}

footer .footer-info li a:hover{
  color:blue;
  text-decoration: underline;
}