/*
Global
*/
html{
  background-color: #F1F1F1;
}

/*
Header
*/

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  min-height: 50px;
}

.header-left{
  float: left;
}

.header-left img{  
  margin-left: 10px;
  margin-top: 10px;
}

.header-left input{
  width: 500px;

}

.header-right{
  float:right;
  margin-right: 10px;
  margin-top: 10px;
}

.header-right a{
  text-decoration: none;
  border: 1px solid black;
}

/*
Container
*/

.container{
  padding-top: 50px;
}

/*
Sidebar
*/

.sidebar{
  float: right;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
}

.preview{
  margin: 15px 15px 15px 15px;
  min-height: 70px
}

.preview a{
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  min-height: 70px;
}

.preview a:hover .preview-title p{
  color: blue;
}

.preview-title p{
  margin-bottom: 0;
  color: black;
}

.preview img{
  float:left;
  margin-right: 10px;
}

.preview-info{
  color: gray;
  font-size: 0.8em;
}

.preview-info p{
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  background-color: white;
  box-shadow: 0px 1px 1px gray;
}

.desc{
  background-color: white;
  box-shadow: 0px 1px 1px gray;
}

/*
Comments
*/

.comments{
  background-color: white;
  box-shadow: 0px 1px 1px gray;
}

/*
Footer
*/

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
}

footer hr{
  width: 95%;
}

footer img{
  float: left;
}

footer ul{
  list-style-type: none;
}

footer ul li{
  display: inline;
}