/*
Global
*/
html{
  background-color: #F1F1F1;
  min-height: 100%;
  position: relative;
}

/*
Header
*/

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  min-height: 50px;
}

.header-left{
  float: left;
}

.header-left img{  
  margin-left: 10px;
  margin-top: 10px;
}

.search{
  float: right;
  margin-left: 20px;
}

.search img{
  margin-left: -5px;
  margin-top: 20px;
  margin-bottom: -10px;
}


.header-left input{
  width: 500px;
  height: 24px;
  margin-bottom: 10px;
}

.header-right{
  float:right;
  margin-right: 20px;
  margin-top: 10px;
}

.header-right img{
  margin-right: 10px;
}

/*
Container
*/

.container{
  padding-top: 75px;
  margin-left: 16%;
  margin-right: 16%;
  padding-bottom: 140px;
  min-height: 100%;

}

.inner-cont{
  margin: 15px 15px 15px 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*
Info
*/

#creator-img{
  float: left;
  margin-right: 10px;
}

.creator-info p{
  margin-bottom: 0;
}

.creator-info a{
  color: black;
  text-decoration: none;
}

.creator-info a:hover{
  text-decoration: underline;
}

.views{
  float: right;
}

.info-footer{
  min-height: 50px;
}

.info-footer ul li {
  display: inline;
}

.support{
  float:left;
  padding-left: 0;
}

.thumbs{
  float: right;

}

/*
Desc
*/

#desc h4{
  margin-bottom: 0;
}

#desc p{
  margin-top: 0;
}

tr td:nth-child(even){
  padding-left: 20px;
}

td a{
  text-decoration: none;
}

td a:hover{
  text-decoration: underline;
}

.showmore a{
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #767676;
}

.showmore a:hover{
  color: black;
}

/*
Sidebar
*/

.sidebar{
  float: right;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 416px;
}

.preview{
  margin: 15px 15px 15px 15px;
  min-height: 70px
}

.preview a{
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  min-height: 70px;
}

.preview a:hover .preview-title p{
  color: blue;
}

.preview-title p{
  margin-bottom: 0;
  color: black;
}

.preview img{
  float:left;
  margin-right: 10px;
}

.preview-info{
  color: gray;
  font-size: 0.8em;
}

.preview-info p{
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 854px;
}

.desc{
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 854px;
}

/*
Comments
*/

.comments{
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  width: 854px;
}

#comments:first-child a{
  text-decoration: none;
}

#allcomments a{
  color: #666666;
}

#allcomments a:hover{
  text-decoration: underline;
}

#comments input{
  width: 50%;
  height: 40px;
  margin-bottom: 20px;
}

#topcomments{
  margin-bottom: 20px;
}

.comment{
  padding-bottom: 30px;
}

.comment a{
  color: #5C8EE9;
}

.comment img{
  float: left;
  margin-right: 10px;
}

.comment-footer li{
  display: inline;
  float: left;
  margin-right: 10px;
}

.comment-footer{
  padding-left: 0;
}

#reply{
  color: #7F7F7F;
}

#reply:hover{
  color:#555555;
}

.comment-creator{
  margin-bottom: 5px;
  padding-left: 0;
}

.comment-creator li{
  display: inline;
  margin-bottom: 0;
}

.post{
  margin-left: 60px;
}

#post-date{
  color:#767676;
}

#post-date:hover{
  text-decoration: underline;
}

#comment-post{
  margin-top: 0;
}

/*
Footer
*/

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 1px gray;
  height: 140px;
}

footer hr{
  width: 95%;
}

footer img{
  float: left;
}

footer ul{
  list-style-type: none;
}

footer ul li{
  display: inline;
}

footer .footer-options li img, .footer-options a img{
  margin-right: 15px;
  margin-bottom: 10px;
}

.footer-links{
  margin-bottom: 2px;
}

footer .footer-links li a{
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

footer .footer-links li a:hover{
  color: blue;
  text-decoration: underline;
}

.footer-info{
  margin-top: 2px;
}

footer .footer-info li a{
  color: gray;
  text-decoration: none;
  font-size: 12px;
}

footer .footer-info li a:hover{
  color:blue;
  text-decoration: underline;
}